.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #a9a8a3;
  padding: 40px 0;
}

.bigDetail {
  background: url("./W.jpg");
  padding-top: 30px;
  padding-bottom: 300px;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 700px;
  height: 600px;
  background: #4d4d4d;
  border-radius: 5px;
  position: relative;
}

.details {
  padding: 50px 0 0 50px;
}
.cardInDetail {
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
}

.titleCapitalized {
  text-transform: capitalize;
  text-align: center;
  background: rgba(255, 166, 0, 0.383);
}

.titledetails {
  text-transform: capitalize;
  color: rgba(255, 68, 0, 0.938);
  font-size: 40px;
  margin-bottom: 13px;
  line-height: normal;
  position: relative;
}
.title span {
  margin-left: 12px;
  background: #c4b03d9b;
  border-radius: 5px;
  color: #544c21;
  font-size: 14px;
  padding: 0px 4px;
}
.description {
  /* background-color: blue; */
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #b1b0ac;
}

.cardanoloTop {
  background-color: rgba(255, 68, 0, 0.671);
  display: flex;
  padding: 20px;
  width: 40%;
  color: black;
  padding: 10 px;
  white-space: nowrap;
  flex-direction: column;
}
.cardanolo {
  background-color: rgba(255, 68, 0, 0.794);
  display: flex;
  width: 100%;
  color: black;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
.column {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 480px;
}

.img {
  width: 500px;
  height: 500px;
  padding-left: 50px;
}
.container2 {
  display: flex;
  flex-direction: row;
}
