.cnt {
  padding-top: 10px;
}
.form-containerses {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.space {
  padding-top: 10px;
}

.titleBuscador {
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
}

.cardes {
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}


.formas {
  padding-top: 8px;
  display: flex; 
  background-color: transparent;
  width: 100%;
  color: white;
  flex-direction: column;
  border-bottom: solid;
}


.formas input {
  width: 130px;
  height: 25px;
  margin: 0.5rem;
}

.formas button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(230, 101, 54);
  cursor: pointer;
}

.explorer {
  padding: 150px;
  background-color: rgba(4, 0, 24, 0.856);
  display: flex;
  text-align: center;
  justify-content: center;
  transition: filter 1s;
  flex-direction: row;
  flex-wrap: wrap;
}

.exploring {
  padding-top: 150px;
  background-color: rgba(4, 0, 24, 0.856);
  display: flex;
  text-align: center;
  justify-content: center;
  transition: filter 1s;
  flex-direction: row;
  flex-wrap: wrap;
}

.begin {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: white;
  letter-spacing: 1px;
  font-size: 24px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.8s;
  cursor: pointer;
}

.begin2 {
  position: relative;
  background: #a945c7;
  box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
  display: inline-block;
  padding: 15px 30px;
  color: rgb(4, 0, 24);
  letter-spacing: 1px;
  font-size: 24px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.8s;
  cursor: pointer;
}

.begin:hover {
  transition: .8s ease-in-out;
  color: white;
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
}

.begin2:hover {
  transition: .8s ease-in-out;
  color: rgb(4, 0, 24);
  box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
  -webkit-box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
}