.cnt {
  padding-top: 10px;
}
.form-containerses {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.titleBuscador {
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
}

.cardes {
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}

.begin {
  border-radius: 10px;
  align-content: center;
  transition: 0.8s ease-in-out;
  cursor: pointer;
  top: 235px;
  left: 330px;
  width: 300px;
  height: 60px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    100deg,
    #fffc64af 20%,
    rgba(255, 230, 0, 0.418),
    rgb(88, 75, 19),
    #1b1b0d
  );
}

.formas {
  /* display: none; */
  background-color: transparent;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: justify;
  border-bottom: solid;
}

.formas input {
  width: 130px;
  height: 25px;
  margin: 0.5rem;
}

.formas button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(230, 101, 54);
  cursor: pointer;
}

.explorer {
  padding: 150px;
  background-color: rgba(4, 0, 24, 0.856);
  display: flex;
  text-align: center;
  justify-content: center;
  transition: filter 1s;
  flex-direction: row;
  flex-wrap: wrap;
}

.begin:hover {
  transition: .8s ease-in-out;
  background-color: #000000;
  color: white;
  border-radius:50%;
  -webkit-border-radius:40%;
  box-shadow: 0px 0px 15px 15px #fffc64af;
  -webkit-box-shadow: 0px 0px 15px 15px #fffc64af;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}