.link {
  color: black;
  text-decoration: none;
}
.white{
  color: white;
}
.link:hover {
  color: #00f;
}
.form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.label {
  padding-right: 10px;
}

body {
  background-color: rgb(4, 0, 24);
}

.card-title {
  margin-bottom: 15px;
  text-transform: capitalize;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.cards {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.list-item {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

.bodies {
  padding-top: 60px;
  height: 100vh;
  background-image: url("./L3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding-bottom: 350px;
}
.bodies1 {
  padding-top: 60px;
  height: 100vh;
  background-image: url("./L3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding-bottom: 130px;
}

.card {
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}

.card:hover {
  padding-bottom: 30px;
  padding-top: 30px;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.imagen {
  width: 250px;
  height: 150px;
  z-index: 2;
}
img {
  transition: all 0.8s ease-in-out;
}

.imagen:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30%;
  -webkit-border-radius: 20%;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.textBox {
  transition: all 0.8s ease-in-out;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  background-color: transparent;
}

.textBox:hover {
  padding-bottom: 30px;
  transition: all 0.8s ease-in-out;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}


.label {
  padding-right: 10px;
}
