.paginado {
  background-color: rgb(4, 0, 24);
  width: 100%;
  padding-top: 6px;
  display: inline-block;
  padding-bottom: 90px;
  position: static;
}

.paginado a {
  background-color: rgba(4, 0, 24, 0.856);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 0.3em;
  padding: 0.3em;
  text-align: center;
}

.paginado a:hover:not(.activo){
  background-color: gray;
}
/* .empty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

